<ion-view ng-controller="LoginCtrl as main" hide-nav-bar="true">
  <ion-content scroll="false" has-header="false">
    <div class="splash positive">
      <img class="logo" src="img/bragboard_splash.png"/>
      <div class="floating">
        <form id="loginForm" ng-submit="submitLogin(main.loginForm)" ng-init="main.loginForm={}">
            <label class="item item-borderless item-input item-floating">
              <span class="input-label">Email</span>
              <input type="text" ng-model="main.loginForm.email" required>
            </label>
            <label class="item item-borderless item-input input-stacked-label">
              <span class="input-label">Password</span>
              <input type="password" ng-model="main.loginForm.password" required>
            </label>
            <label class="item item-borderless ">
              <button class="button button-outline button-light" type="submit">Sign in</button>
          </label>
        </form>
        <ion-item class="item-borderless">
          <a  class="button button-clear button-light" ui-sref="register">Not a Member? Sign Up</a> 
        </ion-item>
      </div>
    </div>
  </ion-content>
</ion-view>
