<ion-view ng-controller="MoreCtrl as main">
  <ion-nav-title>
    <img src="img/icon-40.png">
  </ion-nav-title>
  <ion-content>
    <ion-list>
      <ion-item menu-close ui-sref="app.locations-map">
        Locations
      </ion-item>
      <ion-item menu-close ui-sref="app.activities">
        Hobbies
      </ion-item>
      <ion-item menu-close ui-sref="app.account">
        My Account
      </ion-item>
      <ion-item menu-close ng-click="signOut()">
        Sign Out
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>