<ion-view ng-controller="NotificationsCtrl as main">
   <ion-nav-title>
    <img src="img/icon-40.png">
  </ion-nav-title>
  <ion-content scroll="false">
    <ion-scroll zooming="false" direction="y" style="width: 100%; height: 100%" ng-if="main.notifications.length!=0">
      <div class="list">
        <ion-item class="item-avatar item-icon-right" ng-repeat="friend in main.notifications">
          dummy
        </ion-item>
      </div>
    </ion-scroll>
    <div ng-if="main.notifications.length==0" class="info splash">
      <span class="splash-content">No Notifications</span>
    </div>
  </ion-content>
</ion-view>