<ion-tabs class="tabs-background-light tabs-color-positive tabs-icon-top" ng-controller="AppCtrl as main">
  <ion-tab title="Home" icon-on="ion-ios-home" icon-off="ion-ios-home-outline" href="#/app/browse">
    <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab>
  
  <ion-tab title="Logs" icon-on="ion-ios-bookmarks" icon-off="ion-ios-bookmarks-outline" href="#/app/logs">
    <ion-nav-view name="tab-logs"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Notifications" icon-on="ion-ios-world" icon-off="ion-ios-world-outline" href="#/app/notifications">
    <ion-nav-view name="tab-notifications"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Friends" icon-on="ion-ios-people" icon-off="ion-ios-people-outline" href="#/app/friends">
    <ion-nav-view name="tab-friends"></ion-nav-view>
  </ion-tab>

  <ion-tab title="More" icon-on="ion-ios-more" icon-off="ion-ios-more-outline" href="#/app/more">
    <ion-nav-view name="tab-more"></ion-nav-view>
  </ion-tab>
</ion-tabs>

<!--
<ion-side-menus enable-menu-with-back-views="false" ng-controller="AppCtrl as main">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-positive">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
      <ion-nav-buttons side="right">
        <button class="button" ui-sref="app.register.new" ng-if="!main.user.signedIn">Sign Up</button>
      </ion-nav-buttons>  
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-content>
      <ion-list>
        <ion-item id="headerImage">
          <img src="../img/bragboard_500x240.png">
        </ion-item>  
        <ion-item menu-close href="#/app/browse">
          Browse
        </ion-item>
        <ion-item menu-close ng-click="main.login()" ng-if="!main.user.signedIn">
          Sign In
        </ion-item>
        <ion-item menu-close ui-sref="app.register.new" ng-if="!main.user.signedIn">
          Sign Up
        </ion-item>
        <ion-item menu-close ui-sref="app.logs.list" ng-if="main.user.signedIn">
          Things I Did
        </ion-item>
        <ion-item menu-close ui-sref="app.activities.list" ng-if="main.user.signedIn">
          Things I Enjoy
        </ion-item>
        <ion-item menu-close ui-sref="app.locations.map" ng-if="main.user.signedIn">
          Places I Go
        </ion-item>
        <ion-item menu-close ui-sref="app.friends.list" ng-if="main.user.signedIn">
          People I Know
        </ion-item>
        <ion-item menu-close ui-sref="app.account" ng-if="main.user.signedIn">
          My Account
        </ion-item>
        <ion-item menu-close ng-click="signOut()" ng-if="main.user.signedIn">
          Sign Out
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
-->
