/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:
*/
$light:                           #ffffff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #008000 !default;
$calm:                            #c7c7cc !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #424242 !default;


// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";

ion-item#headerImage{
	border: none;
	padding:0px;
	margin:-3px;
	img{
		max-width: 100%;
		max-height: 100%;
	}
}

.item.item-bottom{
	bottom: 0;
}
/* MAP CSS */

.scroll{
    height: 100%;
}
#map{
    width: 100%;
    height: 100%;
    a.map-button::before{
        font-size: 16px;
    }
    div.item.item-no-border{
        border: 0px;
    }
}
.map{
  width:100%;
  min-height:300px;
  max-height:300px;
}
div.singleMap{
  width:100%;
  min-height:300px;
  max-height:300px;
  height:300px;
}

.flip-container{
    perspective: 2000px;
    -webkit-perspective: 2000px;
    -moz-perspective: 2000px;
    -o-perspective: 2000px;
}   
.flip-container.flip .flipper{
    transform: rotateY(-180deg);
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
}
.flip-container, .flipper, .front, .back{
    width: 100%;
    height: 100%;
}

.flipper{
    transition: transform 1.0s;
    -webkit-transition: -webkit-transform 1.0s;
    -moz-transition: -moz-transform 1.0s;
    -o-transition: -o-transform 1.0s;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    position: relative;
}
.front, .back{
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;

    position: absolute;
    top: 0;
    left: 0;
}
.front{
    transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
}
.back{
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    .list-search{
        top: 0;
        left:0;
        position:absolute;
        width: 100%;
    }
    .scroll-view{
        position: absolute;
        top: 51px;
        height: calc(100% - 51px);
        width: 100%;

    }
}

// Image Scroll CSS
.image-list-thumb {
    padding: 2px 2px 2px 2px;
    height: 100px;
    width: 100px;
}

.image-list-thumb.image-scroll-button.button{
  width:100px;
  height: 100px;
  i.icon:before{
    font-size: 50px;
  }
}
 
.image-modal {
    width: 100% !important;
    height: 100%;
    top: 0 !important;
    left: 0 !important;
}
 
.transparent {
    background: rgba(0, 0, 0, 0.5) !important;
}
 
.fullscreen-image {
    max-width: 100%;
    max-height: 100%;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: auto;
    position: fixed;
    right: 0;
    top: 0;
}
 
.slider {
    width: 100%;
    height: 100%;
}

//END Image Scroll CSS

/* Empty. Add your own CSS if you like */
div.singleMap{
  height:300px;
}

/*START info splash*/
div.info{
  background-color: $stable;
  color: $calm;
  font-size: 20px;
  font-variant-caps: all-petite-caps;
}

div.positive{
  background-color: #008000;
  color: white;
}


div.splash{
  width:100%;
  height: 100%;
  vertical-align: middle;
  text-align: center;
  .floating{
    position: relative;
    top: calc( 50% - 100px );
    height: 50px;
    width: 75%;
    border-radius: 10px;
    left: 12.5%;
    .item{
      background-color: $positive;
      color: $light;
      .input-label{
        color: $light;
      }
      input{
        background-color: $light;
        padding-left:10px;
      }
      button{
        width:75%;
        border-color: white !important;
        color: white !important;
      }
    }
  }
  .splash-content{
  position: relative;
  top: calc( 50% - 40px );
  height: 20px;
  }
  .logo{
    position:absolute;
    top: 10%;
    left: 10%;
    max-width:  80%;
  }
}