<ion-view view-title="Select Hobbies" ng-controller="ActivitiesRegisterCtrl as main">
  <ion-content>
    <ion-list>
      <ion-item class="card" ng-repeat="category in main.categories">
        <ion-list>
          <ion-item><h2>{{category.name}}</h2></ion-item>
          <ion-checkbox ng-model="hobby.exists" ng-repeat="hobby in category.hobbies" ng-click="main.changeHobby(hobby)">{{hobby.name}}</ion-checkbox>
        </ion-list>
      </ion-item>
      <ion-item>
        <button class="button button-full button-positive" ui-sref="app.register.friends">Next</button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>