<ion-view view-title="Find Friends" ng-controller="FriendsRegisterCtrl as main">
	<div class="bar bar-subheader  item-input-inset">
    <label class="item-input-wrapper">
      <input type="text" placeholder="Search" ng-model="main.searchText">
    </label>
	</div>
  <ion-content class="has-subheader">
    <div class="list">
      <ion-item class="item-button-right item-avatar-left" ng-model="main.user.friend" ng-repeat="user in main.availableUsers | filter: searchText | orderBy: 'distance'">
      <img src="../../img/bragboard_128.png" alt="">
      <h2>{{user.firstName}} {{user.lastName}}</h2>
      <p>{{user.location}}</p>
      <a ng-if="!user.isFriend" class="button button-icon icon ion-ios-personadd" ng-click="main.requestFriend(user)"></a>
      <button ng-if="user.isFriend" class="button button-clear" ng-click="main.requestFriend(user)">Cancel</button>
      </ion-item>
    </div>
    <button class="button button-full button-positive" ng-click="main.finish()">
		  Finish
		</button>
  </ion-content>
</ion-view>