<ion-view ng-controller="NewRegisterCtrl as main">
  <ion-nav-title>
    <img src="img/icon-40.png">
  </ion-nav-title>
  <ion-content class="has-header">
    <form id="signUpForm" ng-submit="main.sendForm()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">First Name</span>
          <input type="text" ng-model="main.signUpForm.first_name" required>
        </label>
        <label class="item item-input">
          <span class="input-label">Last Name</span>
          <input type="text" ng-model="main.signUpForm.last_name" required>
        </label>
        <label class="item item-input">
          <span class="input-label">Email</span>
          <input type="email" ng-model="main.signUpForm.email" required ng-change="checkEmail">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="main.signUpForm.password" required>
        </label>
        <label class="item item-input">
          <span class="input-label">Confirm Password</span>
          <input type="password" ng-model="main.signUpForm.password_confirmation" required>
        </label>
        <label class="item item-input">
          <span class="input-label">Date of Birth</span>
          <input type="date" ng-model="main.signUpForm.dob" required>
        </label>
        <label class="item item-input">
          <span class="input-label">Location</span>
          <ion-google-place currentLocation="true" ng-model="main.googleLocation" ng-change="updateLatLng(googleLocation)"/>
        </label>
      </div>
      <button class="button button-full button-positive" type="submit">Register</button>
    </form>
  </ion-content>
</ion-view>