<ion-view ng-controller="FindFriendsCtrl as main">
   <ion-nav-title>
    <img src="img/icon-40.png">
  </ion-nav-title>
	<div class="bar bar-subheader  item-input-inset">
    <label class="item-input-wrapper">
      <input type="text" placeholder="Search" ng-model="main.filter">
    </label>
	</div>
  <ion-content>
    <div class="list">
      <ion-item class="item-avatar item-button-right" ng-repeat="user in main.availableUsers | filter: main.filter" >
      <img src="../../img/bragboard_128.png" alt="">
      <h2>{{user.firstName}} {{user.lastName}}</h2>
      <p>{{user.location}}</p>
      <a ng-if="!user.isFriend" class="button button-icon icon ion-ios-personadd" ng-click="main.requestFriend(user)"></a>
      <button ng-if="user.isFriend" class="button button-clear" ng-click="main.requestFriend(user)">Cancel</button>
      </ion-item>
    </div>
  </ion-content>
</ion-view>