<ion-view ng-controller="ListFriendsCtrl as main">
   <ion-nav-title>
    <img src="img/icon-40.png">
  </ion-nav-title>
	<div ng-if="main.user.friends.length" class="bar bar-subheader  item-input-inset">
    <label class="item-input-wrapper">
      <input type="text" placeholder="Search" ng-model="main.filter">
    </label>
	</div>
  <ion-content ng-class="main.subheader" scroll="false">
    <ion-scroll zooming="false" direction="y" style="width: 100%; height: 100%" ng-if="main.user.friends.length!=0">
      <div class="list">
        <ion-item class="item-avatar item-icon-right" ng-repeat="friend in main.user.friends | filter: main.filter" ng-click="main.handleFriend('VIEW', friend)" >
          <img src="../../img/bragboard_128.png" alt="">
          <h2>{{friend.firstName}} {{friend.lastName}}</h2>
          <ion-option-button class="button-assertive" ng-click="main.handleFriend('DELETE', friend)">
            Unfriend
          </ion-option-button>
          <ion-option-button class="button-calm" ng-click="main.handleFriend('MESSAGE', friend)">
            Chat
          </ion-option-button>
          <i class="icon ion-chevron-right"></i>
        </ion-item>
      </div>
    </ion-scroll>
    <div ng-if="main.user.friends.length==0" class="info splash">
      <span class="splash-content">Use the search tab to find friends</span>
    </div>
  </ion-content>
</ion-view>