<ion-view ng-controller="RequestFriendsCtrl as main">
   <ion-nav-title>
    <img src="img/icon-40.png">
  </ion-nav-title>
  <ion-content id="requests-content" scroll="false">
    <ion-scroll zooming="false" direction="y" style="width: 100%; height: 100%" ng-if="main.requests.length!=0">
      <div class="list">
        <ion-item class="item-avatar item-button-right" ng-repeat="request in main.requests | filter: main.filter" >
          <img src="../../img/bragboard_128.png" alt="">
          <h2>{{request.user.firstName}} {{request.user.lastName}}</h2>
          <p>{{request.user.location}}</p>
          <a ng-click="main.toggleMore(request, $event)" class="button button-icon icon ion-android-more-vertical"></a>
        </ion-item>
      </div>
    </ion-scroll>
    <div ng-if="main.requests.length==0" class="info splash">
      <span class="splash-content">No Pending Requests</span>
    </div>
  </ion-content>
</ion-view>