<ion-popover-view style="height:120px;width:225px;">
  <ion-content>
    <div class="list">
      <a class="item" ng-click="main.handlePopover('APPROVE', main.popoverItem, $event)">
         <i class="icon ion-checkmark"></i>
        Approve
      </a>             
      <a class="item" ng-click="main.handlePopover('REJECT', main.popoverItem, $event)">
         <i class="icon ion-close"></i>
        Reject
      </a>
    </div>
  </ion-content>
</ion-popover-view>