<ion-tabs class="tabs-striped tabs-top tabs-icon-top tabs-background-positive tabs-color-light" ng-controller="FriendsCtrl as main">

  <ion-tab title="Friends" icon-on="ion-ios-people" icon-off="ion-ios-people-outline" ui-sref="app.friends.list">
    <ion-nav-view name="list-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Requests" icon-on="ion-ios-personadd" icon-off="ion-ios-personadd-outline" ui-sref="app.friends.request">
    <ion-nav-view name="request-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Find" icon-on="ion-ios-search-strong" icon-off="ion-ios-search" ui-sref="app.friends.find">
    <ion-nav-view name="find-tab"></ion-nav-view>
  </ion-tab>

</ion-tabs>