<ion-view ng-controller="EditActivitiesCtrl as main">
  <ion-nav-title>
    Add Hobbies
  </ion-nav-title>
  <ion-content>
    <ion-list ion-sticky>
      <ion-list ng-repeat="category in main.categories">
        <ion-item class="item-divider"><h2>{{category.name}}</h2></ion-item>
        <ion-checkbox ng-model="hobby.exists" ng-repeat="hobby in category.hobbies" ng-click="main.changeHobby(hobby)">{{hobby.name}}</ion-checkbox>
      </ion-list>
    </ion-list>
  </ion-content>
</ion-view>