<ion-view ng-controller="ListActivitiesCtrl as main">
  <ion-nav-title>
    Your Hobbies
  </ion-nav-title>
  <ion-nav-buttons side="secondary">
		<button class="button" ui-sref="app.activities-edit">Add Hobbies</button>
	</ion-nav-buttons>
  <ion-content ion-sticky>
    <ion-list>
      <ion-list ng-repeat="category in main.categories">
        <ion-item class="item-divider"><h2>{{category.name}}</h2></ion-item>
        <ion-item ng-repeat="hobby in category.hobbies">{{hobby.name}}</ion-item>
      </ion-list>
    </ion-list>
  </ion-content>
</ion-view>