<ion-view view-title="Locales" >
	<ion-list>
		<ion-card ng-repeat="locale in locales">
			<ion-item class="item-icon-right">
				<h2>{{locale.name}}</h2>
				<p>{{locale.default_spot.location}}</p>
				<i class="icon ion-android-more-vertical"></i>
			</ion-item>
			<ion-item class="item-image">
				<img ng-src="{{locale.default_spot.image}}" alt="locale image">
			</ion-item>
		</ion-card>
	</ion-list>
</ion-view>