<ion-view view-title="New Locale">
	<ion-content has-subheader="false">
		<div class="list">
			<form ng-submit="makeLocale(locale)" ng-init="locale = {}">
				<label class="item item-input">
    			<span class="input-label">Name</span>
			    <input type="text" ng-model="locale.name">
			  </label>
			  <div class="item item-toggle">
			  	Private
				  <label class="toggle">
				   	<input type="checkbox" ng-model="locale.private">
				   	<div class="track">
				     	<div class="handle"></div>
				   	</div>
					</label>
				</div>
				<button type="submit" class="button button-full button-positive">Next</button>
		  </form>
		</div>
	</ion-content>
</ion-view>