<ion-view view-title="Edit Log" ng-controller="EditLogsCtrl as main">
  <ion-nav-buttons side="secondary">
		<button class="button" ng-click="main.update()">
			Submit
    </button>
	</ion-nav-buttons>
  <ion-content>
    
  </ion-content>
</ion-view>