<ion-view ng-controller="ListLogsCtrl as main">
   <ion-nav-title>
    <img src="img/icon-40.png">
  </ion-nav-title>
  <ion-nav-buttons side="secondary">
		<button class="button" ui-sref="app.logs-new-location">New Log</button>
	</ion-nav-buttons>
  <ion-content id="logs-content">
    <div ng-if="main.logs.length==0" class="info splash">
      <span class="splash-content">Create a Log by pressing <b>+</b></span>
    </div>
    <ion-list>
      <ion-item class="item-icon-right" ng-repeat="log in main.logs | orderBy: '-createdAt' " ui-sref="app.logs-show({id: log.id})">
        {{log.category.name}} {{log.hobby.name}} at {{log.location.name}}
        <i class="icon ion-ios-arrow-forward"></i>
        <ion-option-button class="button-assertive" ng-click="main.delete(log)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>