<ion-view view-title="New Log" ng-controller="NewLogsLocCtrl as main">
  <ion-nav-title>
  </ion-nav-title>
	<ion-nav-buttons side="primary">
		<a id="new-log-flipButton" ng-click="main.flipContainer()" class="button button-icon icon" ng-class="main.selectButton()"></a>
	</ion-nav-buttons>
  <ion-nav-buttons side="secondary">
		<button ng-click="main.saveCurrentLocation()" class="button">Use Current Location</button>
	</ion-nav-buttons>
	<ion-content scroll="false">
		<div id="new-log-flip-container" class="flip-container">
			<div class="flipper">
				<div id="new-log-map" data-tap-disabled="true" class="front top"></div>
				<div id="new-log-list" class="back">
					<div class="list-search item item-input-inset">
				    <label class="item-input-wrapper">
				      <input type="text" placeholder="Search" ng-model="main.searchText">
				    </label>
					</div>
					<ion-scroll direction="y">
						<ion-list>
							<ion-item class="item-icon-right" ng-repeat="location in main.map.locations | orderBy: 'name'| filter:{name:main.search}" ng-click="main.selectLocation(location)">
								<h2>{{location.name}}</h2>
								<p>{{location.geolocation}}</p>
		    				<i class="icon ion-ios-arrow-forward"></i>
							</ion-item>
						</ion-list>
					</ion-scroll>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>