<ion-view ng-controller="NewLogsHobbyCtrl as main">
  <ion-nav-title>
    What are you doing?
  </ion-nav-title>
  <ion-content ion-sticky>
    <ion-list>
      <ion-item class="item-divider"><h2>Your Hobbies</h2></ion-item>
      <ion-item ng-repeat="hobby in main.user.hobbies | orderBy: 'categoryId'" ng-click="main.selectHobby(hobby)">{{hobby.name}}</ion-item>
      <ion-list ng-repeat="category in main.categories">
        <ion-item class="item-divider"><h2>{{category.name}}</h2></ion-item>
        <ion-item ng-repeat="hobby in category.hobbies" ng-click="main.selectHobby(hobby)">{{hobby.name}}</ion-item>
      </ion-list>
    </ion-list>
  </ion-content>
</ion-view>