<ion-view ng-controller="NewLogsUsersCtrl as main">
  <ion-nav-title>
    Who is with you?
  </ion-nav-title>
  <ion-nav-buttons side="secondary">
    <button class="button" ui-sref="app.logs-show({id: main.log.id})">Finish</button>
  </ion-nav-buttons>
  <ion-content>
    <ion-list>
      <ion-item class="item-divider" ng-if="main.recordSets.length > 0">
        Currently Participating
      </ion-item>
      <ion-item ng-repeat="rs in main.recordSets">
        {{rs.user.firstName}} {{rs.user.lastName}}
      </ion-item>
      <ion-item class="item-divider">
        Add Friends
      </ion-item>
      <ion-item ng-repeat="friend in main.user.friends | orderBy: 'firstName'" ng-click="main.addUser(friend)">
        {{friend.firstName}} {{friend.lastName}}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>