<ion-modal-view>
  <ion-header-bar class="bar-positive">
    <button class="button button-clear" ng-click="main.saveRecord(main.currentRecord)">Save</button>
    <h1 class="title">{{main.modal.action.name}} Details</h1>
    <button class="button button-clear" ng-click="main.cancelModal(main.modal.updating)">Cancel</button>
  </ion-header-bar>
  <ion-content>
    <form name="recordForm">
      <ion-list>
        <label class="item item-input" ng-repeat="q in main.modal.action.qualifiers">
          <span class="input-label">{{q.name}}</span>
          <input type="text" ng-model="main.currentRecord.valueDatumAttributes[$index].value">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Notes</span>
          <textarea msd-elastic ng-model="main.currentRecord.comment" rows="3"></textarea>
        </label>
        <a class="item">
          <label>Pictures</label>
          <ion-scroll direction="x" scrollbar-x="false">
            <button class="image-list-thumb button button-outline button-positive image-scroll-button" ng-click="main.Upload(main.currentRecord)"><i class="icon ion-ios-camera"></i></button>
            <img ng-repeat="picture in main.currentRecord.pictures" ng-src="{{picture.avatar.thumb.url}}" class="image-list-thumb" ng-click="main.showImages($index, main.currentRecord)">
          </ion-scroll>
        </a>
      </ion-list>
    </form>
  </ion-content>
</ion-modal-view>