<ion-view ng-controller="ShowLogsCtrl as main">
  <ion-nav-bar class="bar-positive">
     <ion-nav-title>
    <img src="img/icon-40.png">
  </ion-nav-title>
    <ion-nav-buttons side="secondary">
      <button class="button" ng-click="main.addUsers()" ng-if="main.user.friends.length>0">
        Add Participant
      </button>
    </ion-nav-buttons>
    <ion-nav-back-button class="button-clear"
      ng-click="main.goBack()">
      <i class="ion-ios-arrow-back"></i> Back
    </ion-nav-back-button>
  </ion-nav-bar>
  <div class="bar bar-subheader">
    <h2 class="title">{{main.log.hobby.name}} {{main.log.category.name}} </h2>
  </div>
  <ion-content class="has-subheader">
    <ion-slides  options="main.options" slider="data.slider">
      <ion-slide-page ng-repeat="rs in main.recordSets">
<!--        -->
          <div class="list card" style="height: 90%">
            <div class="item item-divider">
              {{rs.user.firstName}} {{rs.user.lastName}}

              <span class="item-note" ng-click="main.chooseAction(rs)">Add Record</span>
            </div>
            <div class="item item-body info splash" scroll="true" ng-if="rs.records.length == 0">
              <span class="splash-content">
                No Records Found
              </span>
            </div>
            <ion-scroll direction="y" scrollbar-y="false" ng-if="rs.records.length > 0" style="height:90%">
              <ion-list>
                <ion-item ng-repeat="record in rs.records" on-hold="main.editOptions(record)">
                  <p ng-repeat="valueData in record.valueDatum|filter:{value: ''}">
                    <strong>{{valueData.qualifier.name}}:</strong> {{valueData.value}}
                  </p>
                  <p ng-if="record.comment">
                    {{record.comment}}
                  </p>
                  <ion-scroll direction="x" scrollbar-x="false" ng-if="record.pictures.length">
                    <img ng-repeat="picture in record.pictures" ng-src="{{picture.avatar.thumb.url}}" class="image-list-thumb" ng-click="main.showImages($index, record)">
                  </ion-scroll>
                </ion-item>
              </ion-list>
            </ion-scroll>
          </div>
<!--        </ion-scroll>-->
      </ion-slide-page>
    </ion-slides>
  </ion-content>
</ion-view>