<div class="modal image-modal transparent" ng-click="closeModal()">
	<ion-header-bar class="bar-dark">	
  	<h1 class="title"></h1>
		<div class="buttons">
			<button class="button button-clear button-light" ng-click="deleteMenu(); $event.stopPropagation();">
				<i class="icon ion-trash-b"></i>
			</button>
		</div>
	</ion-header-bar>
  <ion-slide-box on-slide-changed="slideChanged(index)" show-pager="false" active-slide="activeSlide">
    <ion-slide ng-repeat="image in main.pictures">
      <img ng-src="{{image.avatar.url}}" class="fullscreen-image"/>
    </ion-slide>
  </ion-slide-box>
</div>