<ion-view ng-controller="AccountCtrl as main">
  <ion-nav-title>
    <img src="img/icon-40.png">
  </ion-nav-title>
  <ion-nav-buttons side="secondary">
		<a class="button button-clear" ui-sref="app.account-update">Update</a>
	</ion-nav-buttons>
  <ion-content>
  	<ion-list>
      <ion-item>
        <h2>Name</h2>
        <p>{{main.user.firstName + " " + main.user.lastName}}</p>
      </ion-item>
      <ion-item>
        <h2>Email</h2>
        <p>{{main.user.email}}</p>
      </ion-item>
      <ion-item>
        <h2>Location</h2>
        <p>{{main.user.location}}</p>
      </ion-item>
      <ion-item>
        <h2>Age</h2>
        <p>{{main.user.dob | date: 'mediumDate'}}</p>
      </ion-item>
      <ion-item>
        <h2>Friends</h2>
        <p>{{main.user.friends.length}}</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>