<ion-view ng-controller="UpdateAccountCtrl">
  <ion-header-bar>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeUpdate()">Close</button>
    </div>
    <h1 class="title">Update Account</h1>
    <div class="buttons">
      <button class="button button-stable" ng-click="update()">Update</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form id="updateAccountForm" ng-submit="updateAccount(updateAccountForm)" ng-init="updateAccountForm=user">
      <div class="list">
        <label class="item item-input item-floating">
          <span class="input-label">First Name</span>
          <input type="text" ng-model="updateAccountForm.first_name" required>
        </label>
        <label class="item item-input item-floating">
          <span class="input-label">Last Name</span>
          <input type="text" ng-model="updateAccountForm.last_name" required>
        </label>        
        <label class="item item-input item-floating">
          <span class="input-label">Date of Birth</span>
          <input type="date" ng-model="updateAccountForm.dob" required>
        </label>
      </div>
    </form>
    <ion-list>
      <ion-item ng-repeat="error in errors">
        <p>{{error}}</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-modal-view>