<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Edit</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="main.closeEdit()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form id="editForm" ng-submit="main.EditLocation(main.locationForm)">
      <ion-list>
				<label for="name" class="item item-input item-stacked-label">
					<span class="input-label">Name</span>
					<input type="text" ng-model="main.locationForm.name">
				</label>
				<label for="description" class="item item-input item-stacked-label">
					<span class="input-label">Desription</span>
					<textarea type="text" ng-model="main.locationForm.description"></textarea>
				</label>
				<div class="item item-toggle">
					Private
					<label class="toggle">
					   <input type="checkbox" ng-model="main.locationForm.private">
					   <div class="track">
					     <div class="handle"></div>
					   </div>
					</label>
				</div>
			</ion-list>
			<button class="button button-full button-positive" type="submit">Save</button>
    </form>
  </ion-content>
</ion-modal-view>