<ion-view ng-controller="MapLocationsCtrl as main">
  <ion-nav-title>
    <img src="img/icon-40.png">
  </ion-nav-title>
	<ion-nav-buttons side="primary">
		<a id="flipButton" ng-click="main.flipContainer()" class="button button-icon icon" ng-class="main.selectButton()"></a>
	</ion-nav-buttons>
  <ion-nav-buttons side="secondary">
		<button ng-click="main.saveCurrentLocation()" class="button">Use Current Location</button>
	</ion-nav-buttons>
	<ion-content scroll="false">
		<div id="flip-container" class="flip-container">
			<div class="flipper">
				<div id="map" data-tap-disabled="true" class="front top"></div>
				<div id="list" class="back">
					<div class="list-search item item-input-inset">
				    <label class="item-input-wrapper">
				      <input type="text" placeholder="Search" ng-model="main.searchText">
				    </label>
					</div>
					<ion-scroll direction="y">
						<ion-list>
							<ion-item class="item-icon-right" ng-repeat="location in main.map.locations | orderBy: 'name'| filter:{name:main.searchText}" ui-sref="app.locations-show({id: location.id})">
								<h2>{{location.name}}</h2>
								<p>{{location.geolocation}}</p>
								<ion-option-button class="button-assertive" ng-click="main.delete(location)">
		      				Delete
		    				</ion-option-button>
		    				<i class="icon ion-chevron-right"></i>
							</ion-item>
						</ion-list>
					</ion-scroll>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>