
<label for="name" class="item item-input">
	<span class="input-label">Name</span>
	<input type="text" ng-model="main.newLocation.name">
</label>
<div class="item item-toggle">
	Private
	<label class="toggle">
	   <input type="checkbox" ng-model="main.newLocation.private">
	   <div class="track">
	     <div class="handle"></div>
	   </div>
	</label>
</div>
