<ion-view ng-controller="ShowLocationCtrl as main">
  <ion-nav-title>
    <img src="img/icon-40.png">
  </ion-nav-title>
	<ion-nav-buttons side="secondary">
		<button class="button" ng-click="main.Upload()">
			<i class="icon ion-ios-camera-outline"></i>
		</button>
		<button class="button" ng-click="main.EditModal()">
			Edit
		</button>
	</ion-nav-buttons>
	<ion-content has-subheader="false" scrollbar-y="false">
		<ion-list>
			<label for="" class="item">
				<strong>Name</strong>
				<p>{{main.location.name}}</p>
			</label>
			<label for="" class="item">
				<strong>Desription</strong>
				<p>{{main.location.description}}</p>
			</label>
			<label for="" class="item item-icon-right">
				<strong>Private</strong>
        <i class="icon"  ng-class="main.locationPrivate"></i>
			</label>
			<div class="item item-divider">
				<i class="ion-images"></i>
				Images
			</div>
			<a class="item item-list-detail" ng-if="main.pictures.length">
				<ion-scroll direction="x" scrollbar-x="false">
					<img ng-repeat="picture in main.pictures" ng-src="{{picture.avatar.thumb.url}}" class="image-list-thumb" ng-click="main.showImages($index)">
				</ion-scroll>
			</a>
      <button class="button button-full icon ion-ios-camera-outline" ng-if="main.pictures.length == 0" ng-click="main.Upload()">
        Upload Images
      </button>
      <div class="singleMap" id="showLocMap">
      </div>
		</ion-list>
	</ion-content>
</ion-view>